{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
{% if category %}{{ category.name }} {% else %} Products {% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 6%">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-6 text-right">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.jpg' %} {% endif %}"
                                    alt="..." style="height: 200px; width: auto">
                            </div>
                            <div class="col-md-6" style="padding-left: 20px">
                                <h3>{{ product.name }}</h3>
                                <h6><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h6>
                                <p class="text-muted">INR. {{ product.price }} only.</p>
                                {% if product.stock != 0 %}
                                <div class="snipcart-details top_brand_home_details">
                                    <form action="{% url 'cart:cart_add' product.pk %}" method="post">
                                        {% csrf_token %}
                                        {{ cart_product_form }}
                                        <input type="submit" value="add to cart" class="btn btn-primary">
                                    </form>
                                </div>
                                <p>{{ product.description|safe|linebreaksbr }}</p>
                                {% else %}
                             <a href="/products">   <input type="button" value="OUT OF STOCK VIEW OTHER Products" class="btn btn-link" style="color: red;"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
    </div><!-- /.row -->

</div><!-- /.container -->
{% endblock %}